*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

:root {
    --container-height: 550px; 
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid powderblue;
    background-color: rebeccapurple;

    margin: 35px;
    width: 1500px;
    height: var(--container-height);
    overflow-x: scroll;
    overflow-y: hidden;
}

.item {
    max-height: 440px;
    background-color: brown;
    border: 1px solid wheat;
    transition: height 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
    transition: height .5s;
    margin: 0px auto;
}

.item:active {
    opacity: 0.4;
}

.animation-btn-container {
    width: 100%;
    padding: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.animation-btn-container > button  {
    cursor: pointer;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid;
    outline: none;
    transition: transform 100ms, border 100ms;
}

.quickSortContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: buttonface;
    padding: 5px;
    border-radius: 10px;
}

.quickSortSelectContent {
    width: 250px;
    height: 50px;
    background-color: buttonface;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0px;
    list-style: none;
    outline: none;
}

.animation-btn-container > button:hover  {
    transform: scaleY(1.25);
    
}

.animation-btn-container > button:focus  {
    border: 1px solid orchid;
}


@media only screen and (max-width: 411px) {
    .container {
        justify-content: space-evenly;
        width: 390px;
    }
    .animation-btn-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .animation-btn-container > button  {
        cursor: pointer;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        margin: 10px;
        border: 1px solid;
        outline: none;
        transition: transform 30ms, border 30ms;
    }
    .quickSortContainer{
        flex-direction: row;
    }
    .quickSortSelectContent {
        width: 170px;
    }
    .quickSortLabel{
        width: 40px;
        margin: 1px;
    }
}
